# Common requirements
beautifulsoup4==4.12.3
cryptography==42.0.4
GitPython==3.1.41
google-auth-oauthlib==1.2.0
humanfriendly==10.0
lxml==5.1.0
oauthlib==3.2.2
openpyxl==3.1.2
pandas==2.0.3
# ^ the version supports by python 3.8
PyYAML==6.0.1
python-docx==1.1.0
requests==2.32.0
typing_extensions==4.9.0
whatthepatch==1.0.5
pdfminer.six==20231228
password-strength==0.0.3.post2
python-dateutil==2.8.2
pyjks==20.0.0
pybase62==1.0.0
base58==2.1.1

# ML requirements
numpy==1.24.4
# ^ the version supports python 3.8-3.11
# ^ todo: check for py3.12 later https://github.com/numpy/numpy/issues/23808
scikit-learn==1.5.0
scipy==1.10.1
# ^ the version supports python 3.8
onnxruntime==1.18.0

# build requirement
build==1.2.1
hatchling==1.24.2

# Auxiliary
# Tests and maintenance packages
# Fixed versions are not necessary
deepdiff
flake8
pylint
mypy
pytest
pytest-cov
pytest-html
pytest-random-order
types-beautifulsoup4
types-PyYAML
types-requests
types-oauthlib
types-python-dateutil
types-pyjks
types-regex
types-humanfriendly
yapf
