# Common requirements
beautifulsoup4~=4.12.2
GitPython~=3.1.27
google-auth-oauthlib~=1.0.0
humanfriendly~=10.0
lxml~=4.9.1
oauthlib~=3.2.2
openpyxl~=3.1.2
pandas~=2.0.0
PyYAML~=6.0
regex==2023.5.5
requests==2.30.0
typing_extensions~=4.5.0
whatthepatch~=1.0.5
pdfminer.six~=20221105

# ML requirements
numpy~=1.24.1
scikit-learn~=1.2.0
scipy~=1.10.0
onnxruntime~=1.14.1

# setup.py requirement
setuptools

# Auxiliary
deepdiff
flake8
pylint
mypy
pytest
pytest-cov
pytest-html
pytest-random-order
types-beautifulsoup4
types-PyYAML
types-requests
types-oauthlib
types-regex
types-humanfriendly
yapf
