# Test .gitignore file

# ignore all .myext files
*.myext

# ignore all files in `dir_to_ignore` directory
dir_to_ignore

# include files from `dir_to_ignore/never_ignore` overwriting previous rule
!dir_to_ignore/never_ignore

# explicitly include this particular file against first rule
!dir_to_ignore/never_ignore/good_file_4.myext
