author = "M$Bn0Tf0YHD"
author_info = "M$Bn0Tf0YHD"
authors = "Nobody John Doe"
authors_info = "Nobody John Doe"

AUTH_TOKEN=<an authorization token>

curl -H "Authorization: Basic WxhZGRpVuc2VzYW1lbjYp12vcG" http://localhost:8080/.

curl -H "Authorization: Bearer eyJGRpVu1c2VzY2-823r_db32hbf4W1lbj" http://localhost:8080/.

