# This workflow tests github action feature and integration only after release
# Only static references are allowed in 'uses:', so new packages from a PR are not available

name: ActionTest

on:
  push:
    branches: [ main ]
  release:
    types: [ published ]

permissions:
  contents: read

jobs:

  ActionTest:

    runs-on: ubuntu-latest

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2 - 2026.02.08
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2 - 2026.01.09
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: CredSweeper action
        # dynamic links are not allowed for 'uses:'
        # may be changed to any tag BUT not to dynamic! e.g.: ${{ github.event.pull_request.head.sha }}
        uses: Samsung/CredSweeper@main # lazy link to the branch for test
        with:
          error: "--no-error"
          hashed: "--no-hashed"
          path: tests/samples

      - name: Verify output
        run: |
          ITEMS_CNT=$(jq '. | length' output.json)
          if [ 100 -lt ${ITEMS_CNT} ]; then
              echo "Samples were successfully scanned"
          else
              echo "Unexpected items count: ${ITEMS_CNT}"
              exit 1
          fi

      - name: Upload output
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0 - 2025.12.12
        with:
          name: output.json
          path: output.json
