# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Publish to PyPi

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [created]

jobs:
  release:
    permissions:
      id-token: write
      contents: write
    uses: samsung/supplychainassurance/.github/workflows/python_releasor.yml@v1.0.1
    with:
      version: "3.10"
    secrets:
      EXPECTED_REPOSITORY: "${{ secrets.EXPECTED_REPOSITORY }}"
      ECODETOKEN: "${{ secrets.ECODE_TOKEN }}"
      GITHUBTOKEN: "${{ secrets.GITHUB_TOKEN }}"

  deploy:

    runs-on: ubuntu-latest
    needs: [ release ]
    steps:
    - name: Download Artifacts
      id: download
      uses: samsung/supplychainassurance/.github/actions/download-artifact@v1.0.1
      with:
        hash: ${{ needs.release.outputs.hash }}

    - name: Publish
      if: ${{ 'release' == github.event_name }}
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run:
        cd ${{ steps.download.outputs.outdir }}
        twine upload ${{ needs.release.outputs.artifact }}

    - name: Test for creation sphinx documentations
      if: ${{ 'release' != github.event_name }}
      run: |
        python --version
        pip install -r requirements.txt
        cd docs
        pip install -r requirements.txt
        make html
