# This workflow checks whether last release is not too old

name: Check last release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '59 23 * * 0'

permissions:
  contents: read

jobs:

  # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

  rottenness:

    runs-on: ubuntu-latest

    steps:

      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2 - 2026.02.08
        with:
          egress-policy: audit

      - name: Check last release date
        id: last_release_check
        run: |
          latest_release="$(curl --silent https://api.github.com/repos/Samsung/CredSweeper/releases/latest)"
          published_date=$(echo "${latest_release}" | jq --raw-output '.published_at')
          release_age=$(( $(date +%s) - $(date --date="${published_date}" +%s) ))
          if [ 0 -ge ${release_age} ]; then
              echo "Probably, release: ${published_date} and current timezone were different"
              release_age=0
          fi
          echo "Release age: ${release_age} seconds"
          tag_name=$(echo "${latest_release}" | jq --raw-output '.tag_name')
          if [ $(( 60 * 60 * 24 * 28 )) -gt ${release_age} ]; then
              echo "Release is fresh"
          else
              echo "Release is rotten"
              echo "TAG_NAME=${tag_name}" >> $GITHUB_ENV
              exit 1
          fi

      - name: Checkout current code of default branch
        if: ${{ failure() && steps.last_release_check.conclusion == 'failure' }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2 - 2026.01.09
        with:
          repository: Samsung/CredSweeper
          ref: main
          path: main

      - name: Checkout last release code
        if: ${{ failure() && steps.last_release_check.conclusion == 'failure' }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2 - 2026.01.09
        with:
          repository: Samsung/CredSweeper
          ref: ${{ env.TAG_NAME }}
          path: ${{ env.TAG_NAME }}

      - name: Compare source code of versions
        if: ${{ failure() && steps.last_release_check.conclusion == 'failure' }}
        run: diff --recursive ${{ env.TAG_NAME }}/credsweeper ${{ github.event.repository.default_branch }}/credsweeper
